/*===================================
	BOX CONTENTS TABLE
===================================*/
table.box-contents
{
	width: 464px;
}


.box-contents thead th
{
	font-size: 1.4em;
	background: url("../images/dots.gif") repeat-x left bottom;
}

.box-contents input
{
	border-style: none;
}

.box-contents tbody td
{
	padding: 6px 0;
	background: url("../images/dots.gif") repeat-x left bottom;
	width: 232px;
	vertical-align: middle;
}

.box-contents tbody td.heading
{
	padding-bottom: 0px;
	background-image: none;
}

.box-contents tbody td.heading img.help
{
	border-width: 0;
	float: right;
	left: -5px;
	position: relative;
	top: 10px;
}

.box-contents tbody td a
{
	display: inline-block;
	margin-right: 10px;
	float: left;
	padding-top: 4px;
}


div.box-contents
{
	width: 464px;
	border-collapse: collapse;
	display: table;
}

.box-contents-msg
{
	padding-top: 10px;
	font-size: 1.2em;
}

.box-contents-msg a
{
	font-weight: bold;
}

.box-contents-dots-b
{
	background: url(/images/dots.gif) 0 100% repeat-x;
	padding-top: 6px;
	height: 25px;
}

.box-contents-header
{
	height: 1px;
}


.box-contents-header-double
{
	height: 1px;
	width: 464px;
}

.box-contents-container
{
	float: left;
	width: 142px;
	width: 112px;
}

.box-contents-h4
{
	color: #DC8E3A;
	font-size: 1.4em;
}

.box-contents-likes-dislikes
{
	float: right;
	width: 30px;
	text-align: center;
}

.box-contents-likes-dislikes-first
{
	float: left;
	width: 232px;
}



/*===============================================
	NOTEPAD STYLES
===============================================*/

/* NL remove fruit basket from rhs
.new-customer {
	padding: 0 0 155px 0;
	background: url("../images/fruit-basket.gif") no-repeat right bottom;
}
*/
.new-customer.min
{
	padding: 0 0 10px;
	background: url("../images/fruit-basket-small.gif") no-repeat right bottom;
}

.we-deliver .deliver, .no-postcode
{
	/*margin-bottom: 20px;
	border-bottom: 1px solid #5A7B25;*/
}

.we-deliver
{
	font-size:1.2em;
}

.we-deliver .deliver h2
{
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 1.22em;
	padding: 0 70px 0 0;
	background: url("../images/van-right.gif") no-repeat right;
	min-height:37px;
	font-weight: normal;
}

.we-deliver .deliver h2 img
{
	float: right;
}

.we-deliver .deliver .btn.cta, .shopping-basket .btn.cta, .deliveries .btn.cta
{
	background-position: 98%;
	font-size: 1.273em;
}

.setup-account
{
	margin-bottom: 20px;
}

.shopping-basket
{
	color: #DC8700;
}

.shopping-basket .totals
{
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid #5A7B25;
	overflow: hidden;
	font-weight: bold;
	font-size: 1.182em;
	color: #000;
}
.shopping-basket .totals .items
{
	float: left;
}
.shopping-basket .totals .cost
{
	float: right;
}


/*===============================================
	BASKET STYLES
===============================================*/
table.tbl-basket
{
	width: 240px;
	margin: 0 0 20px 0;
	color: #5A7B25;
}

table.coming
{
	color: #5A7B25;
	margin: 0 0 0 0;
}

.tbl-basket tr
{
	clear: both;
}
.tbl-basket td
{
	padding-bottom: 5px;
	vertical-align: top;
}

.tbl-basket td.col-qty
{
	width: 50px;
}
table.coming td.col-qty
{
	text-align: center;
	font-size: 1.1em;
}
.tbl-basket td.col-item
{
	width: 130px;
	padding-right: 10px;
	color: #000000;
}
.tbl-basket.coming td.col-item
{
	width: 100%;
	padding-right: 10px;
	color: #000000;
}

.tbl-basket .col-price span, .tbl-basket .col-price a
{
	display: block;
}

.tbl-basket .per, .tbl-basket .remove
{
	font-size: 0.833em;
}
.coming .remove
{
	color: #000;
}

.tbl-basket .qty
{
	float: left;
	text-align: center;
	width: 15px;
}

.tbl-basket a.add, .tbl-basket a.delete
{
	float: left;
	width: 13px;
	height: 14px;
	background: url("../images/btn-add.gif") no-repeat 0 0;
	text-indent: -1000em;
}
.tbl-basket a.delete
{
	background: url("../images/btn-delete.gif") no-repeat 0 0;
}
.tbl-basket a:hover.delete
{
	background-position: 0 -14px;
}
.tbl-basket a:hover.add
{
	background-position: 0 -14px;
}
.tbl-basket tfoot, .tbl-basket thead, .tbl-basket tbody
{
	color: #000;
}
.tbl-basket tfoot td, .tbl-basket thead td
{
	padding: 0;
}
.tbl-basket tfoot td.text, .tbl-basket thead td.text
{
	padding: 0 0 0 45px;
	width: 115px;
}

.btn.deliver, .show-me .btn
{
	float: right;
	margin-bottom: 10px;
}

.tbl-basket td.confirmed-order
{
	padding: 0 7px 0 0;
	text-align: right;
}
.tbl-basket a.show-your span
{
	display: block;
	padding: 5px 0 0 0;
}
.tbl-basket td.drop
{
	height: 10px;
}
.tbl-basket td.quantity
{
	width: 16px;
}


/*===============================================
	DELIVERIES STYLES
===============================================*/
.deliveries h3
{
	padding: 0 0 5px;
	overflow: hidden;
	border-bottom: 1px solid #5A7B25;
	font-weight: normal;
	font-size: 1.182em;
}
.deliveries h3 span
{
	float: left;
}
.deliveries h3 span.cost
{
	float: right;
}

.deliveries .logout .cta
{
	float: right;
	clear: right;
}

/*===================================
	ACCOUNT SETUP
===================================*/
.account-setup h3
{
	margin-bottom: 10px;
}

.main-col.account-setup
{
	width: 650px;
	font-size: 1.2em;
}

.sidecol ol
{
	list-style: none;
	margin: 0;
}

.notepad ol, .notepad ol li
{
	padding: 0;
	margin: 0;
	list-style: none;
}

ol.account-stages
{
	margin: 0 0 10px 0;
	list-style: none;
	overflow: hidden;
}
.notepad ol.account-stages
{
	margin: 0;
	padding: 0;
}

ol.account-stages li
{
	float: left;
	width: auto;
	margin: 0 5px 0 0;
}
.notepad ol.account-stages li
{
	float: none;
	margin: 0;
}

ol.account-stages li .heading
{
	padding-top: 40px;
}
.notepad ol.account-stages li .heading
{
	padding: 0;
}

ol.account-stages li .heading.active
{
	background: url("../images/van-right.gif") no-repeat left top;
}
.notepad ol.info-for-new
{
	margin-bottom: 10px;
}
.notepad ol.info-for-new li
{
	list-style-type: decimal;
	margin: 0 0 0 30px;
}

h3.delivery-info
{
	margin-bottom: 10px;
	clear: left;
}

h3.delivery-oops
{
	margin-bottom: 10px;
	clear: left;
}

/* NL 
.delivery-instructions h3 {
	margin-bottom: 20px;
}
*/

.delivery-form select
{
	width: 313px;
}

.delivery-form textarea
{
	width: 300px;
	height: 60px;
}

.account-setup .form-cont input.btn-submit, .account-setup .form-cont input.btn-back
{
	float: right;
	border: none;
	width: auto;
}

.account-setup .form-cont input.btn-back
{
	float: left;
}

/*
	PERSONAL DETAILS STAGE
*/
.personal-form label
{
	float: left;
	width: 125px;
	padding-right: 15px;
	margin-bottom: 0px;
	overflow: visible;
}

.personal-form  label.radio
{
	float: none;
	width:410px;
	font-weight:bold;
	font-style:italic;

}

.personal-form img.help
{
	padding-left: 5px;
	padding-top: 5px;
	float: left;
}

img.help
{
	width: 11px;
	height: 11px;
}

.personal-form input
{
	width: 250px;
	float: left;
	margin: 1px 1px 1px 1px;
}




.personal-form select
{
	float: left;
}

.personal-form input.other-title
{
	width: 260px;
	margin-left: 5px;
}

.personal-form select
{
	width: 259px;
	padding: 3px 4px;
	margin: 1px 1px 1px 1px;
}


.personal-form p.sub-note
{
	position: relative;
	top: -17px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 0.9em;
}

.personal-form p.chk
{
	width: 465px;
}

.personal-form hr
{
	display: none;
}


span.error-msg-parent
{
	position: relative;
	float: left;
	top: -5px;
	left: 5px;
	color: #af1023;
}

span.error-msg-container
{
	margin: 0 0 5px 5px;
	position: absolute;
	height: 35px;
	width: 350px;
	z-index: 1;
}

span.radio span.error-msg-container
{
    bottom: 10px;
    margin-left: 120px;
}


span.error-msg
{
	float: left;
	background-image: url("../images/error-msg-mid.png");
	height: 26px;
	background-repeat: repeat-x;
	padding: 9px 5px 0px 5px;
}

span.error-msg-left
{
	float: left;
	background-image: url("../images/error-msg-left.png");
	height: 35px;
	width: 24px;
	background-repeat: none;
}

span.error-msg-right
{
	float: left;
	background-image: url("../images/error-msg-right.png");
	height: 35px;
	width: 7px;
	background-repeat: none;
}

span.error-msg-reverse-left
{
	float: left;
	background-image: url("../images/error-msg-reverse-left.png");
	height: 35px;
	width: 7px;
	background-repeat: none;
}

span.error-msg-reverse-right
{
	float: left;
	background-image: url("../images/error-msg-reverse-right.png");
	height: 35px;
	width: 24px;
	background-repeat: none;
}



.personal-form-right label
{
	margin: 0px 0px 0px 10px;
	display: inline;
}

.personal-form-right input
{
	margin-bottom: 0px;
	width: 10px;
}

.personal-form .radio input
{
	width: auto;
	border: none;
}

.personal-form .radio label
{
	float: left;
    padding-left: 10px;
    width: auto;
}
/*
	PAYMENT DETAILS STAGE
*/
.payment-form label
{
	float: left;
	width: 100px;
}

.payment-form input
{
	width: 300px;
}

.payment-form p
{
	position: relative;
}

.payment-form .help
{
	position: absolute;
	left: 240px;
}

.personal-form input.month, .personal-form input.year, .personal-form input.issue, .personal-form input.security
{
	width: 40px;
	margin-right: 3px;
}

/*
	THANK YOU STAGE
*/
.main-col.account-setup.thanks
{
	width: 650px;
}

.heading.thanks-account-created
{
	clear: left;
}

.account-setup.thanks .did-you-know
{
	float: left;
	width: 200px;
}

.account-setup.thanks .did-you-know input
{
	vertical-align: bottom;
}


a.start-shopping
{
	float: right;
	width: 127px;
	height: 112px;
	background: url("../images/bg-start-shopping.gif") no-repeat 0 0;
	text-indent: -1000em;
}

a.start-shopping:hover
{
	background-position: 0 100%;
}

a.start-shopping-xmas
{
	float: right;
	width: 149px;
	height: 173px;
	background: url("../images/bg-start-shopping-xmas.gif") no-repeat 0 0;
	text-indent: -1000em;
}

.account-setup.thanks .foot
{
	margin: 20px 0;
	overflow: hidden;
}

.account-setup.thanks .grid.cols3
{
	clear: left;
}

.order-sum
{
	border-collapse: collapse;
	border-spacing: 0;
	width: 670px;
	font-size: 1.182em;
	display: inline-table;
}

.order-sum th
{
	padding-bottom: 6px;
	font-weight: normal;
	background: url("../images/dots.gif") repeat-x left bottom;
	text-align: left;
}
.order-sum tr.added-item td
{
	background-color: #ECF5DE;
}
.order-sum .col-description
{
	width: 189px;
}
.order-sum .col-delivery
{
	width: 90px;
}
.order-sum .col-qty
{
	width: 57px;
	padding-right: 8px;
	text-align: center;
}
.order-sum .col-frequency
{
	width: 135px;
}
.order-sum .col-price
{
	width: 65px;
	padding-left: 8px;
}
.order-sum .col-remove
{
	width: 45px;
	text-align: center;
}
.order-sum .col-single-button
{
	width: 35px;
}
.order-sum .col-skip
{
	width: 60px;
	text-align: center;
}
.order-sum .col-remove a, .order-sum .col-skip a
{
	color: #5A7B26;
}
.order-sum .col-remove a:hover, .order-sum .col-skip a:hover
{
	color: #EC8E00;
}

.order-sum.no-change .col-delivery
{
	width: 180px;
}

.order-sum td
{
	padding: 2px 0;
	background: url("../images/dots.gif") repeat-x left bottom;
}

td.no-border
{
	background: none;
}

.order-sum tr.total td
{
	background: none;
	padding-right: 4px;
	color: #000;
}


.order-sum tr.total.saving td
{
	color: #DC8700;
}

.order-sum .promotion td
{
	background: none;
	text-align: right;
	font-size: 0.9em;
	padding-right: 5px;
	height: 50px;
}

.order-sum .promotion td label
{
	width: 160px;
	display: inline-block;
	vertical-align: top;
}

.order-sum tr.promotion td input
{
	vertical-align: top;
}

.order-sum tr.promotion .btn
{
	padding-left: 8px;
	padding-right: 8px;
}

.order-sum tr.note-delivery-charge
{
	text-align: right;
}
.order-sum tr.note-delivery-charge td
{
	padding: 10px 0 10px 0;
	background: none;
}

.my-account-order-placed table.promotions
{
	margin-top: 20px;
}

.order-sum tr.place-order
{
	text-align: right;
}
.order-sum tr.place-order td
{
	background: none;
}
.order-sum tr.place-order a, .account-setup a.place-order
{
	background: url("../images/btn-click-to-place-order.gif") no-repeat 0 0;
	float: right;
	width: 236px;
	height: 74px;
	text-align: left;
}
.order-sum tr.place-order a:hover, .account-setup a:hover.place-order
{
	background-position: 0 -74px;
	color: #D58D1D;
}

a.review-basket-checkout
{
	background: url("../images/btn-review-basket-checkout.gif") no-repeat 0 0;
	float: right;
	width: 236px;
	height: 74px;
	text-align: left;
	padding-right:80px;
}

a:hover.review-basket-checkout
{
	background-position: 0 -74px;
}

a.view-mydeliveries
{
	background: url("../images/btn-view-mydeliveries.gif") no-repeat 0 0;
	float: right;
	width: 179px;
	height: 56px;
	text-align: left;
	margin-top: 25px;
}

a:hover.view-mydeliveries
{
	background-position: 0 -56px;
}

.order-sum tr.view-deliveries
{
	text-align: right;
}
.order-sum tr.view-deliveries td
{
	background: none;
}
.order-sum tr.view-deliveries a
{
	background: url("../images/btn-view-deliveries.png") no-repeat 0 0;
	float: right;
	width: 117px;
	height: 37px;
}
.order-sum tr.view-deliveries a:hover
{
	background-position: 0 100%;
	color: #D58D1D;
}

.order-sum span.totalText
{
	font-weight: bold;
}

.order-sum tr.total
{
	font-size: 1em;
}
.order-sum tr.total td.label
{
	padding-right: 5px;
	text-align: right;
}

.order-sum tr.total td.bgcol
{
	padding-right: 10px;
	text-align: right;
}

.order-sum tr.total td.txt
{
	white-space: nowrap;
}

.order-sum tr.total td.ammount
{
	text-align: left;
	padding-left: 6px;
}

.order-sum .col-qty span
{
	float: left;
	text-align: center;
	width: 15px;
}

.order-sum .col-qty .minus
{
	width: 14px;
	height: 14px;
	text-indent: -1000em;
	float: left;
	background: url("../images/btn-delete.gif") no-repeat;
}
.order-sum .col-qty .minus:hover
{
	background-position: 0 -14px;
}
.order-sum.no-change .col-qty .minus
{
	background-image: url("../images/btn-delete-grey.gif");
}
.order-sum.no-change .col-qty .minus:hover
{
	background-position: 0 0;
}

.order-sum .col-qty .add
{
	margin-right: 5px;
	width: 14px;
	height: 14px;
	text-indent: -1000em;
	float: right;
	background: url("../images/btn-add.gif") no-repeat;
}
.order-sum .col-qty .add:hover
{
	background-position: 0 -14px;
}
.order-sum.no-change .col-qty .add
{
	background-image: url("../images/btn-add-grey.gif");
}
.order-sum.no-change .col-qty .add:hover
{
	background-position: 0 0;
}

.btn.submit-order
{
	float: right;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 80px;
	text-align: center;
}

.price-changes p
{
	width: 650px;
}

.forgotten-price-footer
{
	float: left;
	margin-top: 20px;
	width: 650px;
}

.forgotten-price-footer .browse-shop-sign
{
	background: transparent url(../images/sign-browse-the-shop.gif) no-repeat scroll 0 0;
	display: block;
	float: right;
	height: 131px;
	margin: 0 0 20px 30px;
	text-indent: -1000em;
	width: 150px;
}
.forgotten-price-footer .browse-shop-sign:hover
{
	background-position: 0 100%;
}

/*===================================
	ACCOUNT PAGES
===================================*/
.my-account
{
	margin: 0 278px 0 190px;
	font-size: 1.2em;
}

.unsubscribe
{
	font-size: 1.2em;
}

.my-account .start-shopping
{
	margin: 0 0 0 20px;
}

.my-account .grid
{
	font-size: 0.857em;
}

.my-account.delivery-address .work-address label, .my-account.delivery-address .work-address input
{
	float: left;
}

.my-account.delivery-address .work-address label
{
	margin-right: 60px;
	padding-top: 5px;
}

.my-account.delivery-address .item
{
	margin-bottom: 20px;
	overflow: hidden;
}

.my-account.delivery-address .btn
{
	float: right; /*	font-size: 1.166em;*/
}

.my-account.delivery-address textarea
{
	width: 400px;
}

.my-account .btn-back
{
	float: left;
	border: none;
}

.my-account .btn-submit
{
	float: right;
	border: none;
}

.my-account.change-address p
{
	margin-bottom: 20px;
}

.my-account.change-address textarea
{
	width: 100%;
	height: 80px;
}

.my-account.change-address .progress
{
	margin-bottom: 30px;
}

.my-account.change-address.step1 label, .my-account.change-address.step3 label
{
	display: inline;
}

.my-account.change-address .form-multi-select
{
	width: 100%;
	height: 80px;
}

.my-account.change-address.step3 dl
{
	overflow: hidden;
	margin-bottom: 20px;
}
.my-account.change-address.step3 dl dt
{
	float: left;
	margin-right: 20px;
}
.my-account.change-address.step3 dl dd
{
	float: left;
}

.main-col.my-account-deliveries, .main-col.my-account-confirm-order, .main-col.my-account-order-placed
{
	margin-right: 0px;
        margin-top: 20px;
	font-size: 1.2em;
	width: 670px;
}

.my-account-deliveries p.note
{
	font-size: 1em;
	color: red;
}

.my-account-deliveries .van-right-large
{
	background: url("../images/van-right-large.gif") no-repeat 0 0;
	width: 110px;
	height: 59px;
	float: right;
	margin-bottom: 15px;
}
.my-account-deliveries h3, .my-account-confirm-order h3, .my-account-order-placed h3
{
	margin-bottom: 3px;
}

h3.blue
{
color:#1677DA;
margin-top:5px;
}


.my-account-deliveries p, .my-account-confirm-order p, .my-account-order-placed p
{
	margin-bottom: 20px;
}

.my-account-deliveries .order-sum, .my-account-order-placed .order-sum, .my-account-confirm-order .order-sum
{
	font-size: .9em;
}

.my-account-deliveries .order-sum a, .my-account-order-placed .order-sum a
{
	color: #000000;
}

.my-account-deliveries .order-sum a:hover, .my-account-order-placed .order-sum a:hover
{
	color: #597D39;
}

.my-account-deliveries
{
	margin-bottom: 20px;
}

.my-account-order-placed
{
	position: relative;
}

.my-account-order-placed .col-description
{
	width: 300px;
}
.my-account-order-placed .col-qty
{
	width: 64px;
	text-align: center;
}
.my-account-order-placed .col-qty .add
{
	margin-right: 25px;
	text-align: center;
}
.my-account-order-placed .col-frequency
{
	text-align: left;
	width: 95px;
}
.my-account-order-placed .col-promotions
{
	width: 95%;
}
.my-account-order-placed .col-ends
{
	text-align: right;
}

.my-account-confirm-order .basket, .my-account-order-placed .basket
{
	padding-bottom: 10px;
	right: 0px;
}

.my-account-confirm-order
{
}

h3.forgotten-something, h3.price-changes
{
	margin-bottom: 0px;
}

.order-sum.no-change
{
	margin-bottom: 30px;
}

.my-account-deliveries .sign-browse-shop
{
	float: right;
}

h3.place-your-order
{
	background: url("../images/place-your-order.gif") no-repeat 0 0;
	width: 261px;
	height: 34px;
	padding-bottom: 10px;
}

h3.you-havent-finished-yet
{
	background: url("../images/you-havent-finished-yet.gif") no-repeat 0 0;
	width: 401px;
	height: 44px;
}

h3.order-placed
{
	background: url("../images/thank-you-placed-order.gif") no-repeat 0 0;
	width: 428px;
	height: 80px;
	padding-bottom: 10px;
}

h3.some-failed
{
	background: url("../images/items-could-not-be-placed.gif") no-repeat 0 0;
	width: 428px;
	height: 80px;
}

h3.all-failed
{
	background: url("../images/could-not-place-order.gif") no-repeat 0 0;
	width: 410px;
	height: 80px;
}

h3.promotions
{
	background: url("../images/imagestions.gif") no-repeat 0 0;
	width: 86px;
	height: 33px;
}

.my-account-deliveries .sign-browse-shop a, .my-account-order-placed .sign-browse-shop a, .my-account-order-placed .view-deliveries a
{
	margin: 0 0 0 30px;
	display: block;
	width: 150px;
	height: 131px;
	text-indent: -1000em;
	background: url("../images/sign-browse-the-shop.gif") no-repeat 0 0;
}
.my-account-order-placed .sign-browse-shop a
{
	margin: 10px 0 0 500px;
}
.my-account-deliveries .sign-browse-shop a:hover, .my-account-order-placed .sign-browse-shop a:hover
{
	background-position: 0 100%;
}
.my-account-order-placed .view-deliveries a
{
	background: url("../images/btn-view-deliveries.gif") no-repeat 0 0;
	width: 117px;
	height: 37px;
	margin: 10px 0 0 530px;
	padding: 0;
}
.my-account-order-placed .view-deliveries a:hover
{
	background-position: 0 100%;
}

.my-account-order-placed .order-sum.no-change
{
	margin-bottom: 0;
}

.main-col.my-account-likes
{
	margin: 0 278px 0 190px;
}

.my-account-likes .image
{
	float: right;
	margin-bottom: 20px;
}

.my-account-likes .note-more-boxes
{
	margin-top: 20px;
	display: block;
	width: 162px;
	height: 113px;
	text-indent: -1000em;
	background: url("../images/more-about-boxes.gif") no-repeat 0 0;
}
.my-account-likes .note-more-boxes:hover
{
	background-position: 0 -113px;
}

.my-account-likes .copy
{
	width: 270px;
	line-height: 1.3em;
}

.my-account-likes .copy p
{
	margin-bottom: 1.4em;
}

.my-account-likes .letters
{
	margin-bottom: 10px;
	list-style: none;
	-size: 1.6em;
	text-align: left;
	font-size: 18px;
}

.my-account-likes .letters li
{
	display: inline;
}

.my-account-likes .letters a
{
	color: #000;
}

.my-account-likes .letters a:hover, .my-account-likes .letters a.active
{
	color: #DC8E3A;
}

.my-account-likes .settings th.col-desc
{
	font-size: 1em;
}

.my-account-likes p, .my-account-likes a.boxname
{
	font-size: 1.2em;
}

.my-account-likes select
{
	font-size: 1.2em;
}

.my-account-likes option
{
	padding-right: 20px;
}


/*===================================
	THIS WEEKS BOX
===================================*/
.main-col.whats-box
{
	margin: 0 278px 0 190px;
}

.box
{
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
	width: 462px;
	text-align: left;
}

.box img
{
	float: left;
}

.box .copy
{
	margin-left: 220px;
	text-align: right;
}

.box h3
{
	font-size: 2.3em;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	padding-right: 30px;
}

.box .price
{
	position: relative;
	bottom: 0;
	right: 0;
}

.box .price h4
{
	margin-bottom: 10px;
	font-size: 3.5em;
	font-weight: normal;
}

.box .price h5
{
	margin-bottom: 10px;
	font-size: 1.8em;
	font-weight: normal;
	color: #5A7B25;
}

.box .price .basket *
{
	display: inline;
}
.box .price .basket span
{
	margin-right: 20px;
	color: #EC8E00;
	font-weight: bold;
}
.box .price input
{
	width: 15px;
}
.box .price input.btn
{
	width: auto;
}

.box ol li
{
	padding:10px 0;
} 


.whats-box .more-info
{
	margin-bottom: 20px;
	font-size: 1.2em;
}

.whats-box .more-info a
{
	float: right;
	width: 162px;
	height: 113px;
	text-indent: -1000em;
	background: url("../images/more-about-boxes.gif") no-repeat 0 0;
}
.whats-box .more-info a:hover
{
	background-position: 0 100%;
}

h3.check-buttons
{
	margin-bottom: 20px;
}

.settings
{
	margin: 0 0 20px;
	width: 375px;
	border-collapse: collapse;
}

.settings input
{
	border: none;
}

.settings th
{
	padding: 0 5px;
	font-weight: normal;
	color: #DC8E3A;
	vertical-align: bottom;
	background: url("../images/dot-1-v.gif") repeat-y left bottom;
}

.settings th.col-desc
{
	font-size: 1.4em;
	background: none;
	width: 215px;
}

.settings th.col-select
{
	font-size: 1.2em;
	width: 45px;
	text-align: center;
}

.settings td
{
	padding: 8px 0;
	text-align: center;
}

.settings .first-row td
{
	background: url("../images/dot-1.gif") repeat-x left top;
}

.settings td.col-desc
{
	color: #000;
	text-align: left;
	font-size: 1.2em;
}


/*===================================
	ABOUT US PAGE
===================================*/
/*===================================
	ABOUT US PAGE
===================================*/
.main-col.about
{
	margin: 0 200px 0 190px;
}

.link-list
{
	list-style: none;
	font-size: 1.2em;
}

.link-list ul
{
	margin-bottom: 30px;
	padding-right: 100px;
	list-style: none;
}

.link-list li
{
	margin-bottom: 20px;
}

.link-list h3
{
	margin-bottom: 10px;
	padding-bottom: 10px;
	color: #DF710D;
	font-weight: normal;
	font-size: 1.25em;
	background: url("../images/dot-1.gif") repeat-x left bottom;
}

.main-col.our-newsletter
{
	margin-right: 160px;
}
.main-col.about.main
{
	margin-right: 170px;
}
.main-col.about.keiths-story
{
	margin-right: 20px;
}
.main-col.about.what-makes-us-different
{
	margin-right: 20px;
}

.main-col.about.the-wheelie-big-bike-drop
{
	margin-right: 20px;
}

.about.different .crumb
{
	margin-bottom: 5px;
}

.archive-intro, .about-us-intro
{
	margin-bottom: 20px;
	overflow: hidden;
	font-size: 1.2em;
}

.archive-intro img, .about-us-intro img
{
	float: right;
	margin-left: 10px;
}

.archive-list
{
	border-collapse: collapse;
	width: 100%;
}

.archive-list thead th
{
	margin-bottom: 6px;
	padding: 6px 0;
	font-size: 1.5em;
	font-weight: normal;
	color: #DF710D;
	background: url("../images/dot-1.gif") repeat-x left bottom;
	min-width: 130px;
}

.archive-list tbody td
{
	padding: 6px 5px 6px 0;
	font-size: 1.2em;
}

.archive-list tbody td a
{
	padding: 4px 0 4px 20px;
	background: url("../images/ico-pdf.gif") no-repeat left center;
}

.about .initiative-list
{
	margin-bottom: 6px;
	padding: 2px 0;
	background: url("../images/dot-1.gif") repeat-x left bottom;
	list-style-type: none;
	font-size: 1.2em;
}

.about .initiative-list li
{
	padding: 15px 0;
	background: url("../images/dot-1.gif") repeat-x left top;
	list-style-type: none;
}

.about .initiative-list .initiative-logo
{
	float: left;
	margin: 0 50px 15px 0;
}

.about.keiths-story .pictures
{
	display: inline;
	float: right;
	color: #597D39;
	margin-left: 20px;
}

.about.keiths-story .story
{
	font-size: 1.2em;
}

.about.keiths-story .go-shopping
{
	clear: both;
	float: right;
	width: 143px;
	height: 129px;
	background: url("../images/bg-go-shopping.gif") no-repeat 0 0;
	text-indent: -1000em;
}
.about.keiths-story .go-shopping:hover
{
	background-position: 0 100%;
}

.about.keiths-story.story p
{
	width: 450px;
}

.about.what-makes-us-different .items .item
{
	cursor: pointer;
	width: 130px;
}
.about.what-makes-us-different .items .item h4.current-active
{
	color: #000000;
}
.about.what-makes-us-different .items .item h3
{
	color: #597D39;
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 0 10px;
}
.about.what-makes-us-different .items .item h4
{
	clear: left;
	color: #597D39;
	font-weight: normal;
	font-size: 1.1em;
}
.about.what-makes-us-different .items .reason
{
	background: transparent url(../images/what-makes-us-different-reasons.gif) no-repeat scroll 0 0;
	text-indent: -1000em;
	width: 120px;
	height: 23px;
}
.about.what-makes-us-different .item .r1
{
	background-position: 0 0;
}
.about.what-makes-us-different .item .r2
{
	background-position: -121px 0;
}
.about.what-makes-us-different .item .r3
{
	background-position: -246px 0;
}
.about.what-makes-us-different .item .r4
{
	background-position: -370px 0;
}
.about.what-makes-us-different .item .r5
{
	background-position: -494px 0;
}
.about.what-makes-us-different .item .r1-current-active
{
	background-position: 0 -23px;
}
.about.what-makes-us-different .item .r2-current-active
{
	background-position: -121px -23px;
}
.about.what-makes-us-different .item .r3-current-active
{
	background-position: -246px -23px;
}
.about.what-makes-us-different .item .r4-current-active
{
	background-position: -370px -23px;
}
.about.what-makes-us-different .item .r5-current-active
{
	background-position: -494px -23px;
}

.about.what-makes-us-different .reasons
{
	clear: both;
	padding-top: 20px;
}
.about.what-makes-us-different .reasons .hidden
{
	display: none;
}
.about.what-makes-us-different .reasons img
{
	margin-bottom: 10px;
}
.about.what-makes-us-different .reasons .col-1, .about.what-makes-us-different .reasons .col-2
{
	float: left;
	font-size: 1.2em;
	width: 300px;
}
.about.what-makes-us-different .reasons .col-2
{
	margin-left: 10px;
}

.about.contact-us
{
	margin-right: 20px;
	font-size: 1.2em;
}
.about.contact-us p
{
	margin-bottom: 15px;
}
.about.contact-us .col-right
{
	float: right;
	width: 390px;
}
.about.contact-us .col-right img
{
	clear: both;
	float: right;
}
.about.contact-us .col-right a
{
	margin: 20px 0 30px 0;
}
.about.contact-us .col-left
{
	display: inline;
	width: 325px;
}
.about.contact-us .col-left li
{
	list-style-type: none;
}
.about.contact-us .col-left li.email
{
	background: url("../images/mouse-small-help.gif") no-repeat 0 0;
	padding-left: 60px;
}
.about.contact-us .col-left li.phone
{
	background: url('../images/phone-small-help.gif') no-repeat 0 0;
	padding-left: 60px;
}

a.call-us-sign
{
	float: right;
	width: 182px;
	height: 163px;
	background: url("../images/call-us-sign.gif") no-repeat 0 0;
	text-indent: -1000em;
}

a.call-us-sign:hover
{
	background-position: 0 -159px;
}

/*===================================
	RECIPE
===================================*/
.main-col.a-z ul.col
{
	float: left;
	width: 200px;
	list-style: none;
	font-size: 1.2em;
	position: relative;
	left: 20px;
}

.main-col.a-z ul.col ul
{
	margin-bottom: 30px;
	list-style: none;
}

.main-col.a-z .col a
{
	text-indent: 0;
	height: auto;
}

.recipe-categories
{
	margin-bottom: 40px;
	padding: 20px 0 0 45px;
	width: 505px;
	height: 254px;
	background: url("../images/bg-recipe-top.gif") no-repeat 0 0;
}

.recipe-categories h3
{
	margin-bottom: 20px;
}

.recipe-categories ul
{
	list-style: none;
}

.recipe-categories ul li
{
	margin-bottom: 10px;
}

.recipe-feature
{
	margin-right: 300px;
}

.recipe-feature
{
	font-size: 1.3em;
}

.recipe-feature h3
{
	margin-bottom: 0.75em;
	font-weight: normal;
	font-size: 1em;
}

.recipe-feature dl
{
	margin-bottom: 20px;
	overflow: hidden;
}

.recipe-feature dl dt
{
	float: left;
	width: 100px;
	color: #597D39;
}

.recipe-feature dl dd
{
	margin: 0 0 10px 110px;
}

.ingredients-image
{
	overflow: hidden;
}

.ingredients-image img
{
	float: right;
}

.recipe-feature p, .recipe-feature ul
{
	margin-bottom: 1.5em;
}

.list-ingredients
{
	margin: 0 0 0 20px;
	list-style: none;
}

.list-ingredients li
{
	margin-bottom: 5px;
	padding-left: 10px;
	background: url("../images/bg-list-ingredients.gif") no-repeat 0 0.2em;
}


/*===================================
	HELP PAGE
===================================*/
.main-col.help-col
{
	margin: 0 278px 0 190px;
	font-size: 1.2em;
}

.help-col dl dt
{
	font-size: 1.166em;
}

.help-col dl dd, .help-col dl dt.hidden
{
	margin: 0 0 15px;
}

.help-how-to-use img
{
	float: left;
	padding-right: 5px;
	padding-bottom: 5px;
}
.help-how-to-use dt
{
	padding-top: 10px;
}

.help-how-to-use dd
{
	width: auto;
}

.reveal dd img
{
	float: left;
	padding: 10px;
}

.reveal dt a
{
	text-decoration: underline;
}
.reveal dt a:hover
{
	text-decoration: none;
}

/*===============================================
	ACCOUNT PAGE HEADINGS
===============================================*/
.heading.did-you-know
{
	width: 101px;
	height: 31px;
}
.heading.did-you-know span
{
	background-image: url("../images/did-you-know.gif");
}

.heading.delivery-instructions-heading
{
	width: 163px;
	height: 16px;
}
.heading.delivery-instructions-heading span
{
	background-image: url("../images/delivery-instructions.gif");
}


/*===============================================
	MY ACCOUNT PAGE HEADINGS
===============================================*/
.heading.my-account-h
{
	width: 140px;
	height: 25px;
}
.heading.my-account-h a.my-acc
{
	background-image: url("../images/my-account.gif");
}

.heading.welcome-back
{
	width: 225px;
	height: 25px;
	display: inline-block;
	padding: 0;
}
.heading.welcome-back span
{
	background-image: url("../images/welcome-back.gif");
}

.heading.your-delivery-deadlines
{
	width: 161px;
	height: 30px;
}
.heading.your-delivery-deadlines span
{
	background-image: url("../images/your-delivery-deadlines.gif");
}

.heading.change-your-address
{
	width: 247px;
	height: 25px;
}
.heading.change-your-address span
{
	background-image: url("../images/change-your-address.gif");
}

.heading.thank-you
{
	width: 225px;
	height: 65px;
}
.heading.thank-you span
{
	background-image: url("../images/thank-you.gif");
}

.heading.great-news
{
	width: 225px;
	height: 32px;
	padding: 0;
}
.heading.great-news span
{
	background-image: url("../images/great-news.gif");
}

.heading.your-delivery-address
{
	width: 257px;
	height: 25px;
}
.heading.your-delivery-address span
{
	background-image: url("../images/your-delivery-address.gif");
}

.heading.your-delivery-instructions
{
	width: 314px;
	height: 25px;
}
.heading.your-delivery-instructions span
{
	background-image: url("../images/your-delivery-instructions.gif");
}

.heading.your-next-delivery
{
	width: 221px;
	height: 25px;
	padding-top: 15px;
	padding-bottom: 0px;
}
.heading.your-next-delivery span
{
	background-image: url("../images/your-next-delivery.gif");
}

.heading.next-delivery-being-packed
{
	width: 401px;
	height: 25px;
	padding-top: 15px;
}
.heading.next-delivery-being-packed span
{
	background-image: url("../images/your-next-delivery-being-packed.gif");
}

.heading.future-deliveries
{
	width: 244px;
	height: 35px;
}
.heading.future-deliveries span
{
	background-image: url("../images/future-deliveries.gif");
}

.heading.forgotten-something
{
	width: 141px;
	height: 30px;
}
.heading.forgotten-something span
{
	background-image: url("../images/forgotten-something.gif");
}

.heading.price-changes, .price-changes .heading
{
	width: 98px;
	height: 30px;
}
.heading.price-changes span, .price-changes .heading span
{
	background-image: url("../images/price-changes.gif");
}

.heading.tell-us-likes
{
	width: 324px;
	height: 25px;
}
.heading.tell-us-likes span
{
	background-image: url("../images/tell-us-likes.gif");
}

.heading.holidays
{
	width: 149px;
	height: 25px;
}
.heading.holidays span
{
	background-image: url("../images/my-holidays.gif");
}

.heading.auto-login
{
	width: 124px;
	height: 25px;
}
.heading.auto-login span
{
	background-image: url("../images/auto-login.gif");
}

.heading.email-preferences
{
	width: 220px;
	height: 25px;
}
.heading.email-preferences span
{
	background-image: url("../images/email-preferences.gif");
}

.heading.contact-info
{
	width: 149px;
	height: 25px;
}
.heading.contact-info span
{
	background-image: url("../images/contact-info.gif");
}

.heading.my-card-details
{
	width: 143px;
	height: 25px;
}
.heading.my-card-details span
{
	background-image: url("../images/card-details.gif");
}

.heading.change-password
{
	width: 212px;
	height: 30px;
}
.heading.change-password span
{
	background-image: url("../images/change-password.gif");
}

.heading.delete-orders
{
	width: 160px;
	height: 25px;
}
.heading.delete-orders span
{
	background-image: url("../images/delete-orders.gif");
}

.heading.statement
{
	width: 169px;
	height: 25px;
}
.heading.statement span
{
	background-image: url("../images/my-statement.gif");
}

.heading.my-offers
{
	width: 169px;
	height: 25px;
}
.heading.my-offers span
{
	background-image: url("../images/my-offers.gif");
}


/*===============================================
	RIGHT HAND SIDE HEADINGS
===============================================*/
.heading.new-to-abel
{
	width: 225px;
	height: 55px;
}
.heading.new-to-abel span
{
	background-image: url("../images/new-to-abel-cole.gif");
}

.heading.new-to-brainfood
{
	width: 206px;
	height: 30px;
}
.heading.new-to-brainfood span
{
	background-image: url("../images/new-to-brain-food.gif");
}

.heading.or-login-account
{
	width: 154px;
	height: 27px;
}
.heading.or-login-account span
{
	background-image: url("../images/or-login-account.gif");
}

.heading.sorry-dont-deliver
{
	width: 225px;
	height: 97px;
}
.heading.sorry-dont-deliver span
{
	background-image: url("../images/sorry-dont-deliver.gif");
}

.heading.setup-new-account
{
	width: 199px;
	height: 34px;
}
.heading.setup-new-account span
{
	background-image: url("../images/setup-new-account.gif");
}

.heading.sorry
{
	width: 225px;
	height: 31px;
}
.heading.sorry span
{
	background-image: url("../images/sorry.gif");
}

.shopping-basket h2.heading
{
	width: 152px;
	height: 44px;
}
.shopping-basket h2.heading span
{
	background-image: url("../images/shopping-basket-icon.gif");
}

.heading.info-for-all
{
	width: 166px;
	height: 55px;
}
.heading.info-for-all span
{
	background-image: url("../images/info-for-all.gif");
}

.heading.my-deliveries
{
	width: 100%;
	height: 28px;
	background: transparent url(../images/van-right.gif) no-repeat scroll 60% 5px;
	padding-top: 15px;
	font-size: 1.1em;
}
.heading.my-deliveries span
{
	background-image: url("../images/my-deliveries.gif");
}



/*===============================================
	DEPARTMENTS
===============================================*/
.product-department .grid .heading a
{
	display: block;
	text-indent: -1000em;
}

/*
	BOXES
*/
.heading.fruit-veg-boxes
{
	width: 267px;
	height: 33px;
}
.heading.fruit-veg-boxes span
{
	background-image: url("../images/fruit-veg-boxes.gif");
}

.heading.mixed-boxes
{
	width: 87px;
	height: 20px;
}
.heading.mixed-boxes a
{
	background-image: url("../images/mixed-boxes.gif");
}

.heading.organic-mixed-fruit-veg-box
{
	width: 367px;
	height: 68px;
}
.heading.organic-mixed-fruit-veg-box span
{
	background-image: url("../images/organic-mixed-fruit-veg-box.jpg");
}

.heading.vegetable-boxes
{
	width: 102px;
	height: 30px;
}
.heading.vegetable-boxes a
{
	background-image: url("../images/vegetable-boxes.gif");
}

.heading.fruit-boxes
{
	width: 75px;
	height: 20px;
}
.heading.fruit-boxes a
{
	background-image: url("../images/fruit-boxes.gif");
}

.heading.special-boxes
{
	width: 98px;
	height: 53px;
}
.heading.special-boxes a
{
	background-image: url("../images/special-boxes.gif");
}

.heading.help-pick
{
	width: 98px;
	height: 53px;
}
.heading.help-pick a
{
	background-image: url("../images/we-can-help-pick.gif");
}

.heading.large-feed-4-5
{
	width: 232px;
	height: 34px;
}
.heading.large-feed-4-5 span
{
	background-image: url("../images/large-feed-4-5.gif");
}

.heading.medium-feed-2-3
{
	width: 228px;
	height: 33px;
}
.heading.medium-feed-2-3 span
{
	background-image: url("../images/medium-feed-2-3.gif");
}

.heading.small-feed-1
{
	width: 200px;
	height: 32px;
}
.heading.small-feed-1 span
{
	background-image: url("../images/small-feed-1.gif");
}

.heading.box-contents
{
	width: 91px;
	height: 22px;
	margin-bottom: 5px;
	padding: 0;
}
.heading.box-contents span
{
	background-image: url("../images/box-contents.gif");
	background-repeat: no-repeat;
}




/*===============================================
	ACCOUNT SETUP
===============================================*/


.personal-details .heading
{
	width: 146px;
	height: 21px;
}
.personal-details .heading span
{
	background: url("../images/delivery-info.gif") 0 0;
}
.personal-details .heading.active span
{
	background-position: -193px -0px;
}

.heading.personal-details
{
	width: 146px;
	height: 21px;
}
.heading.personal-details span
{
	background: url("../images/delivery-info.gif") -14px -0;
}

.delivery-info .heading
{
	width: 186px;
	height: 21px;
}
.delivery-info .heading span
{
	background: url("../images/delivery-info.gif") 0 -24px;
}
.delivery-info .heading.active span
{
	background-position: -193px -24px;
}

.heading.delivery-info
{
	width: 175px;
	height: 21px;
}
.heading.delivery-info span
{
	background: url("../images/delivery-info.gif") -10px 0;
}

.payment-details .heading
{
	width: 147px;
	height: 21px;
}
.payment-details .heading span
{
	background: url("../images/delivery-info.gif") 0 -48px;
}
.payment-details .heading.active span
{
	background-position: -193px -48px;
}

.heading.payment-details
{
	width: 140px;
	height: 21px;
}
.heading.payment-details span
{
	background: url("../images/delivery-info.gif") -14px -38px;
}

.heading.thanks-account-created
{
	width: 314px;
	height: 21px;
}
.heading.thanks-account-created span
{
	background-image: url("../images/thanks-account-created.gif");
}

.order-summary .heading
{
	width: 137px;
	height: 21px;
}
.order-summary .heading span
{
	background: url("../images/delivery-info.gif") 0 -56px;
}
.order-summary .heading.active span
{
	background-position: -193px -56px;
}

.account-created .heading
{
	width: 137px;
	height: 21px;
}
.account-created .heading span
{
	background: url("../images/delivery-info.gif") 0 -76px;
}
.account-created .heading.active span
{
	background-position: -193px -76px;
}

.thanks-step .heading
{
	width: 76px;
	height: 21px;
}
.thanks-step .heading span
{
	background: url("../images/delivery-info.gif") 0 -72px;
}
.thanks-step .heading.active span
{
	background-position: -195px -72px;
}

.thanks-step.five .heading span
{
	background-position: 0 -107px;
}
.thanks-step.five .heading.active span
{
	background-position: -193px -107px;
}

.heading.help-with-form
{
	width: 191px;
	height: 21px;
}
.heading.help-with-form span
{
	background: url("../images/help-with-form.gif");
}

.notepad.help-with-form .heading
{
	width: 115px;
	height: 30px;
	margin-bottom: 5px;
}
.notepad.help-with-form .heading span
{
	background: url("../images/help-with-form-notepad.gif");
}

.heading.getting-started
{
	width: 147px;
	height: 21px;
}
.heading.getting-started span
{
	background-image: url("../images/getting-started.gif");
}

.heading.use-of-cards
{
	width: 176px;
	height: 17px;
}
.heading.use-of-cards span
{
	background-image: url("../images/use-of-cards.gif");
}

.heading.confirm-order
{
	width: 309px;
	height: 39px;
	margin-bottom: 0;
}
.heading.confirm-order span
{
	background-image: url("../images/confirm-order-large.gif");
}

.heading.order-placed
{
	width: 389px;
	height: 39px;
	margin-bottom: 0;
}
.heading.order-placed span
{
	background-image: url("../images/order-placed.gif");
}


/*===============================================
	THIS WEEKS BOXES
===============================================*/
.heading.organic-boxes
{
	width: 119px;
	height: 54px;
	margin-top: 5px;
}
.heading.organic-boxes span
{
	background-image: url("../images/organic-boxes.gif");
}

.heading.whats-in-box
{
	width: 436px;
	height: 29px;
}
.heading.whats-in-box span
{
	background-image: url("../images/whats-in-box.gif");
}

.heading.check-buttons
{
	width: 460px;
	height: 45px;
}
.heading.check-buttons span
{
	background-image: url("../images/check-buttons.gif");
	background-color: white;
}

.heading.check-buttons-login
{
	width: 460px;
	height: 45px;
}
.heading.check-buttons-login span
{
	background-image: url("../images/check-buttons-login.gif");
	background-color: white;
}



/*===============================================
	RECIPE
===============================================*/
.heading.recipes
{
	width: 111px;
	height: 32px;
}
.heading.recipes span
{
	background-image: url("../images/recipes.gif");
}

.heading.budget-organic
{
	width: 463px;
	height: 39px;
}
.heading.budget-organic span
{
	background-image: url("../images/budget-organic.gif");
}

.recipe-categories ul li a, .recipe-categories ul li a:hover
{
	text-indent: -1000em;
	display: block;
	background-repeat: no-repeat;
	height: 21px;
}

.heading.entertaining-on-budget
{
	width: 363px;
	height: 31px;
}
.heading.entertaining-on-budget span
{
	background-image: url("../images/entertaining-budget.gif");
}

.heading.menu
{
	width: 87px;
	height: 19px;
}
.heading.menu span
{
	background-image: url("../images/menus.gif");
}

.heading.menu.green span
{
	background-position: 0 -20px;
}
.heading.menu.blue span
{
	background-position: 0 -40px;
}
.heading.menu.orange span
{
	background-position: 0 -60px;
}
.heading.menu.red span
{
	background-position: 0 -80px;
}

.heading.main-course
{
	width: 182px;
	height: 25px;
}
.heading.main-course span
{
	background-image: url("../images/main-course.gif");
}

.heading.wine-pairing
{
	width: 192px;
	height: 30px;
}
.heading.wine-pairing span
{
	background-image: url("../images/wine-pairing.gif");
}

.heading.pudding
{
	width: 125px;
	height: 30px;
}
.heading.pudding span
{
	background-image: url("../images/pudding.gif");
}

.heading.grapes
{
	width: 100px;
	height: 24px;
}
.heading.grapes span
{
	background-image: url("../images/grapes.gif");
}

/* === central content help & about === */

.help-content, .weekly-box-content, .shop-content
{
	margin: 0 278px 0 190px;
}

.about-content
{
	margin: 0 0 0 190px;
}
.content div.new-signup divlogin
{
	width: 240px;
	padding: 0 0 200px;
	background: url("../images/map.gif") no-repeat left bottom;
}

/* === rhs controls === */

table.tbl-basket
{
	width: 230px;
}

.deliveries h3.setup-new-account, .deliveries h3.or-login-account
{
	border-bottom: 0;
}

.shopping-basket td.head
{
	padding-bottom: 0;
}
.shopping-basket table.tbl-basket
{
	margin-bottom: 0;
}
.shopping-basket .checkout
{
	margin-top: 10px;
}
/* === replaced form styles === */

.inner .divform
{
	margin-bottom: 20px;
}

.inner .divform .btn
{
	margin-left: 3px;
}

#head div#formsearch
{
	bottom: 12px;
}

.my-account table.settings .from
{
	width: auto;
	text-align: left;
	padding-left: 4px;
	color: #5A7B25;
}
.my-account table.settings .to
{
	width: auto;
	text-align: left;
	padding-left: 4px;
	color: #5A7B25;
}
.my-account table.settings .delete
{
	width: 62px;
}
.my-account.delete-orders select
{
	width: 308px;
}
.my-account.delete-orders .step1 label
{
	float: left;
}
.my-account.delete-orders .step1 input
{
	margin: 2px 0 0 5px;
}
.my-account-confirm-order .col-ends
{
	text-align: right;
}
.promo-codes .col-ends
{
	text-align: right;
}
.my-account .col-ends
{
	text-align: right;
	width: 100px;
}
.my-account-confirm-order .order-sum
{
	margin-top: 0px;
}
.order-sum td.none
{
	background: none;
	height: 1px;
	padding: 0;
	margin: 0;
}
.green
{
	color: #5A7B25;
}
.col-frequency select
{
	width: 125px;
}
.my-account-deliveries .order-sum.promotions
{
	margin-bottom: 20px;
}

.my-account h3.myAccount
{
	font-size: 1.1em;
	margin-bottom: 5px;
}

.my-account ul
{
	margin: 0 0 10px 5px;
	list-style-type: none;
}

.my-account ul li
{
	margin: 0 0 5px 0;
	list-style-type: none;
	color: #597D39;
}

.order-sum.promotions th
{
	font-weight: bold;
}
.order-sum.promotions td
{
	color: #DC8700;
}

.order-sum .col-delivery select
{
	width: 90px;
}
.order-sum .col-delivery select.sold-out
{
	width: 130px;
}

.promo-codes .block
{
	clear: left;
}

/* === MY-SHOP === */
.order-sum.foot tr.total td.label
{
	width: 320px;
}


/* brain food overrides */
.logos p
{
	float: right;
}

.logos img
{
	padding-top:5px;
}
.BrainFood a
{
	color: #000000;
	font-size: 11px;
	text-decoration: underline;
}
.BrainFood
{
	right: 175px;
	text-align: right;
}
#FooterLinks
{
	clear: left;
}
.pCompanyName
{
	clear: left;
}
.pCompanyName label
{
	float: left;
	width: 188px;
}

/* === RHS controls === */
.notepad .inner .show-me span.warn
{
	display: block;
	clear: both;
	margin-bottom: 10px;
	color: #D58D1D;
}

input[disabled], select[disabled], checkbox[disabled], textarea[disabled]
{
	background-color: #dcdcdc;
}

/* === Registartion === */

.order-sum select
{
	font-size: 0.9em;
}

.update-message
{
	font-weight: bold;
	font-size: 1.3em;
}

.heading.my-deliveries
{
	margin-top: 15px;
}

tr.edit td
{
	background-color: #FBF2DD;
	height: 38px;
}

tr.updated td
{
	background-color: #ECF5DE;
	height: 38px;
}

tr.unedited td
{
	height: 38px;
}



.settings .first-row td
{
	background: url("../images/dot-1.gif") repeat-x left top;
}

.settings .contents-updated-even td
{
	background-color: #ECF5DE;
}

.settings .contents-updated-odd td
{
	background-color: #DFEDC7;
}


#HalfContentLeft .content img
{
	margin-left: 50px;
}

div.shop-tab
{
	float: left;
	border: 1px solid #E1E1E1;
	font-size: 1.3em;
	margin-right: 5px;
	padding: 3px 5px 2px 5px;
	border-bottom: 0px;
	background-color: #E1E1E1;
}

div.shop-tab-selected
{
	background-color: #ffffff;
}

div.shop-tab-selected a
{
	color: #000000;
	font-weight: bold;
}


/*AutoComplete flyout */.autocomplete_completionListElement
{
	visibility: hidden;
	margin: 0px !important;
	background-color: inherit;
	color: windowtext;
	border: buttonshadow;
	border-width: 1px;
	border-style: solid;
	cursor: default;
	overflow: auto;
	text-align: left;
	list-style-type: none;
}
/* AutoComplete highlighted item */.autocomplete_highlightedListItem
{
	background-color: #ECF5DE;
	color: black;
	padding: 1px;
	padding: 1px 0px 0px 5px;
}
/* AutoComplete item */.autocomplete_listItem
{
	background-color: window;
	color: windowtext;
	padding: 1px 0px 0px 5px;
}




/* tooltip styling */
#tooltip-edit, #tooltip-skip, #tooltip-delete, #tooltip-edit-packed, #tooltip-show, #tooltip-help
{
	display: none;
	z-index: 2;
}

#tooltip-help
{
	font-size: 1.2em;
}

#tooltip-edit p, #tooltip-edit-packed p, #tooltip-skip p, #tooltip-delete p, #tooltip-show p, #tooltip-help p
{
	padding-bottom: 13px;
	margin-bottom: 0px;
}

#tooltip-edit h3, #tooltip-edit-packed h3, #tooltip-skip h3, #tooltip-delete h3, #tooltip-show h3, #tooltip-help h3
{
	padding-bottom: 5px;
}

.tooltip-container
{
	position: relative;
	vertical-align: middle;
}

.tooltip-top
{
	background: url("../images/tooltip-top.png");
	height: 17px;
	width: 301px;
	position: relative;
}

.tooltip-arrow
{
	background: url("../images/tooltip-arrow.png") no-repeat scroll 0 0 transparent;
	position: absolute;
	height: 64px;
	width: 41px;
	z-index: 3;
	display: table-cell;
	top: 50%;
	margin-top: -39px;
}

.tooltip-mid
{
	background: url("../images/tooltip-mid.png") repeat scroll 0px 0 transparent;
	position: relative;
	width: 211px;
	text-align: left;
	min-height: 64px;
	padding: 0px 30px 0px 60px;
}

.tooltip-bottom
{
	background: url("../images/tooltip-bottom.png");
	height: 33px;
	position: relative;
	width: 301px;
}



/* a .label element inside tooltip */
.tooltip .label
{
	color: yellow;
	width: 35px;
}

.tooltip a
{
	color: #ad4;
	font-size: 11px;
	font-weight: bold;
}

.tooltip-img
{
	float: left;
	margin: 5px 10px 10px 0px;
}



#help-next
{
	position: relative;
	left: 606px;
	top:15px;
}


#help-future
{
	position: relative;
	left: 606px;
}
