USE [DvdStoreVer2]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 06/12/2013 22:46:49 ******/
SET IDENTITY_INSERT [dbo].[Supplier] ON
INSERT [dbo].[Supplier] ([Id], [Title], [Info], [CreatedDate], [ModifiedDate], [IsDeleted]) VALUES (1, N'Sony', NULL, CAST(0x0000A1DB0135B58D AS DateTime), CAST(0x0000A1DB0135B5A9 AS DateTime), 0)
INSERT [dbo].[Supplier] ([Id], [Title], [Info], [CreatedDate], [ModifiedDate], [IsDeleted]) VALUES (2, N'20th Century Fox', NULL, CAST(0x0000A1DB014C788A AS DateTime), CAST(0x0000A1DB014C788A AS DateTime), 0)
INSERT [dbo].[Supplier] ([Id], [Title], [Info], [CreatedDate], [ModifiedDate], [IsDeleted]) VALUES (3, N'Universal Pictures', NULL, CAST(0x0000A1DB014CE393 AS DateTime), CAST(0x0000A1DB014CE393 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Supplier] OFF
/****** Object:  Table [dbo].[Song]    Script Date: 06/12/2013 22:46:49 ******/
SET IDENTITY_INSERT [dbo].[Song] ON
INSERT [dbo].[Song] ([Id], [Title], [SingerId], [ComposerId], [Lyrics], [IsFree], [FileID], [Info], [CreatedDate], [ModifiedDate], [IsDeleted]) VALUES (2, N'Fortunate Son', 3, NULL, N'', 1, 1, N'          ', CAST(0x0000A1DB0164C23C AS DateTime), CAST(0x0000A1DB016B8E65 AS DateTime), 0)
INSERT [dbo].[Song] ([Id], [Title], [SingerId], [ComposerId], [Lyrics], [IsFree], [FileID], [Info], [CreatedDate], [ModifiedDate], [IsDeleted]) VALUES (3, N'Almost Saturday Night', 3, 3, N'', 1, 2, N'', CAST(0x0000A1DB016A1004 AS DateTime), CAST(0x0000A1DB016BAA4A AS DateTime), 0)
INSERT [dbo].[Song] ([Id], [Title], [SingerId], [ComposerId], [Lyrics], [IsFree], [FileID], [Info], [CreatedDate], [ModifiedDate], [IsDeleted]) VALUES (4, N'Lodi', 3, 3, N'', 1, 3, N'', CAST(0x0000A1DB016A2832 AS DateTime), CAST(0x0000A1DB016BB4FB AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Song] OFF
/****** Object:  Table [dbo].[Report]    Script Date: 06/12/2013 22:46:49 ******/
/****** Object:  Table [dbo].[PromotionRegister]    Script Date: 06/12/2013 22:46:49 ******/
/****** Object:  Table [dbo].[Promotion]    Script Date: 06/12/2013 22:46:49 ******/
/****** Object:  Table [dbo].[Producer]    Script Date: 06/12/2013 22:46:49 ******/
SET IDENTITY_INSERT [dbo].[Producer] ON
INSERT [dbo].[Producer] ([Id], [Title], [Info], [CreatedDate], [ModifiedDate], [IsDeleted]) VALUES (1, N'Sony', NULL, CAST(0x0000A1DB0135C6AA AS DateTime), CAST(0x0000A1DB0135C6AA AS DateTime), 0)
INSERT [dbo].[Producer] ([Id], [Title], [Info], [CreatedDate], [ModifiedDate], [IsDeleted]) VALUES (2, N'20th Century Fox', NULL, CAST(0x0000A1DB014C7925 AS DateTime), CAST(0x0000A1DB014C7925 AS DateTime), 0)
INSERT [dbo].[Producer] ([Id], [Title], [Info], [CreatedDate], [ModifiedDate], [IsDeleted]) VALUES (3, N'Universal Pictures', NULL, CAST(0x0000A1DB014CE396 AS DateTime), CAST(0x0000A1DB014CE396 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Producer] OFF
/****** Object:  Table [dbo].[Permission]    Script Date: 06/12/2013 22:46:49 ******/
SET IDENTITY_INSERT [dbo].[Permission] ON
INSERT [dbo].[Permission] ([Id], [Title], [Description], [UrlPattern], [IsBase], [Position], [CreatedDate], [ModifiedDate], [IsDeleted]) VALUES (1, N'System Admin', N'Admin with full permission', N'/admin/*', 1, 1, CAST(0x0000A1DB008B6A2A AS DateTime), CAST(0x0000A1DB008B6A2A AS DateTime), 0)
INSERT [dbo].[Permission] ([Id], [Title], [Description], [UrlPattern], [IsBase], [Position], [CreatedDate], [ModifiedDate], [IsDeleted]) VALUES (2, N'Product Manage', N'manage product', N'/admin/product/*', 1, 3, CAST(0x0000A1DB008BABAE AS DateTime), CAST(0x0000A1DB008BABAE AS DateTime), 0)
INSERT [dbo].[Permission] ([Id], [Title], [Description], [UrlPattern], [IsBase], [Position], [CreatedDate], [ModifiedDate], [IsDeleted]) VALUES (3, N'Advertising manage', N'Manage advertising', N'/admin/advertising/*', 1, 3, CAST(0x0000A1DB008BE9B2 AS DateTime), CAST(0x0000A1DB008BE9B2 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Permission] OFF
/****** Object:  Table [dbo].[ObjectOfBrowsingRule]    Script Date: 06/12/2013 22:46:49 ******/
SET IDENTITY_INSERT [dbo].[ObjectOfBrowsingRule] ON
INSERT [dbo].[ObjectOfBrowsingRule] ([Id], [Name], [IsBase], [QueryToGetValue], [CollToMapping], [TableToMapping]) VALUES (1, N'Singer', 0, N'Select Artist.Id as Id, Artist.Title as Value From Artist where Artist.Id in (Select distinct Song.SingerId from Song)', N'SingerId', N'Song')
INSERT [dbo].[ObjectOfBrowsingRule] ([Id], [Name], [IsBase], [QueryToGetValue], [CollToMapping], [TableToMapping]) VALUES (2, N'Price', 1, NULL, N'Price', N'DVD')
INSERT [dbo].[ObjectOfBrowsingRule] ([Id], [Name], [IsBase], [QueryToGetValue], [CollToMapping], [TableToMapping]) VALUES (3, N'Composer', 0, N'Select Artist.Id as Id, Artist.Title As Value From Artist where Artist.Id in (Select distinct Song.ComposerId from Song)', N'ComposerId', N'Song')
SET IDENTITY_INSERT [dbo].[ObjectOfBrowsingRule] OFF
/****** Object:  Table [dbo].[News]    Script Date: 06/12/2013 22:46:49 ******/
/****** Object:  Table [dbo].[Member]    Script Date: 06/12/2013 22:46:49 ******/
/****** Object:  Table [dbo].[MappingTable]    Script Date: 06/12/2013 22:46:49 ******/
SET IDENTITY_INSERT [dbo].[MappingTable] ON
INSERT [dbo].[MappingTable] ([TableA], [TableB], [QueryToJoin], [Id]) VALUES (N'DVD', N'DVD', N'FROM DVD', 1)
INSERT [dbo].[MappingTable] ([TableA], [TableB], [QueryToJoin], [Id]) VALUES (N'DVD', N'Song', N'FROM DVD INNER JOIN AlbumMusicMapping ON DVD.AlbumId = AlbumMusicMapping.AlbumId INNER JOIN Song ON AlbumMusicMapping.SongId = Song.Id', 2)
INSERT [dbo].[MappingTable] ([TableA], [TableB], [QueryToJoin], [Id]) VALUES (N'DVD', N'BillDetail', N'FROM BillDetail INNER JOIN DVD ON BillDetail.DvdId = DVD.Id WHERE (DVD.IsDeleted = 0)', 3)
SET IDENTITY_INSERT [dbo].[MappingTable] OFF
/****** Object:  Table [dbo].[ManagePermissionMapping]    Script Date: 06/12/2013 22:46:49 ******/
INSERT [dbo].[ManagePermissionMapping] ([ManageId], [PermissionId]) VALUES (1, 1)
/****** Object:  Table [dbo].[Manage]    Script Date: 06/12/2013 22:46:49 ******/
SET IDENTITY_INSERT [dbo].[Manage] ON
INSERT [dbo].[Manage] ([Id], [Name], [Password], [Info], [Position], [NewLogin], [LastLogin], [CreatedDate], [ModifiedDate], [IsLock]) VALUES (1, N'systemadmin', N'123456', N'System Admin', 0, CAST(0x0000A1DB0171CCF2 AS DateTime), CAST(0x0000A1DB01713244 AS DateTime), CAST(0x0000A1D9009A4BDA AS DateTime), CAST(0x0000A1D9009B85EF AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Manage] OFF
/****** Object:  Table [dbo].[Genre]    Script Date: 06/12/2013 22:46:49 ******/
/****** Object:  Table [dbo].[FileData]    Script Date: 06/12/2013 22:46:49 ******/
SET IDENTITY_INSERT [dbo].[FileData] ON
INSERT [dbo].[FileData] ([Id], [Title], [Url], [Type], [ViewCount], [CreatedDate], [ModifiedDate], [IsDeleted]) VALUES (1, N'Fortunate Son', N'http://images.amplified.com/FLVStream/Catalog/141734a5-4d3f-46fe-86cc-edb7c07346c4/Product/230e1c9a-c747-4dbe-a891-909844af8acb/015707829250_01_001_mp3_128k_30sec_0001_102.mp3', N'sound', NULL, CAST(0x0000A1DB015E14A4 AS DateTime), CAST(0x0000A1DB015E5A1F AS DateTime), 0)
INSERT [dbo].[FileData] ([Id], [Title], [Url], [Type], [ViewCount], [CreatedDate], [ModifiedDate], [IsDeleted]) VALUES (2, N'Almost Saturday Night', N'http://images.amplified.com/FLVStream/Catalog/141734a5-4d3f-46fe-86cc-edb7c07346c4/Product/230e1c9a-c747-4dbe-a891-909844af8acb/015707829250_01_002_mp3_128k_30sec_0001_102.mp3', N'sound', NULL, CAST(0x0000A1DB015E8352 AS DateTime), CAST(0x0000A1DB015E8352 AS DateTime), 0)
INSERT [dbo].[FileData] ([Id], [Title], [Url], [Type], [ViewCount], [CreatedDate], [ModifiedDate], [IsDeleted]) VALUES (3, N'Lodi', N'http://images.amplified.com/FLVStream/Catalog/141734a5-4d3f-46fe-86cc-edb7c07346c4/Product/230e1c9a-c747-4dbe-a891-909844af8acb/015707829250_01_003_mp3_128k_30sec_0001_102.mp3', N'sound', NULL, CAST(0x0000A1DB015EAAFD AS DateTime), CAST(0x0000A1DB015EAAFD AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[FileData] OFF
/****** Object:  Table [dbo].[Feedback]    Script Date: 06/12/2013 22:46:49 ******/
/****** Object:  Table [dbo].[DVD]    Script Date: 06/12/2013 22:46:49 ******/
SET IDENTITY_INSERT [dbo].[DVD] ON
SET IDENTITY_INSERT [dbo].[DVD] OFF
/****** Object:  Table [dbo].[Comment]    Script Date: 06/12/2013 22:46:49 ******/
/****** Object:  Table [dbo].[Category]    Script Date: 06/12/2013 22:46:49 ******/
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT [dbo].[Category] ([Id], [Name], [Query], [Description], [CategoryParentId], [CreatedDate], [ModifiedDate], [IsDeleted], [WoodenLeg], [CateLevel]) VALUES (1, N'All Product', N'Select * from DVD', N'all product in store', 0, CAST(0x0000A1D000000000 AS DateTime), CAST(0x0000A1D000000000 AS DateTime), 0, N'1', 0)
INSERT [dbo].[Category] ([Id], [Name], [Query], [Description], [CategoryParentId], [CreatedDate], [ModifiedDate], [IsDeleted], [WoodenLeg], [CateLevel]) VALUES (2, N'Game', N'Select * from DVD where Type = ''game''', N'all game', 1, CAST(0x0000A1D000000000 AS DateTime), CAST(0x0000A1D000000000 AS DateTime), 0, N'10002', 1)
INSERT [dbo].[Category] ([Id], [Name], [Query], [Description], [CategoryParentId], [CreatedDate], [ModifiedDate], [IsDeleted], [WoodenLeg], [CateLevel]) VALUES (3, N'Movie', N'Select * from DVD Where Type = ''movie''', N'all movie', 1, CAST(0x0000A1D000000000 AS DateTime), CAST(0x0000A1D000000000 AS DateTime), 0, N'10003', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
/****** Object:  Table [dbo].[Browser]    Script Date: 06/12/2013 22:46:49 ******/
/****** Object:  Table [dbo].[BillDetail]    Script Date: 06/12/2013 22:46:49 ******/
/****** Object:  Table [dbo].[Bill]    Script Date: 06/12/2013 22:46:49 ******/
/****** Object:  Table [dbo].[Artist]    Script Date: 06/12/2013 22:46:49 ******/
SET IDENTITY_INSERT [dbo].[Artist] ON
INSERT [dbo].[Artist] ([Id], [Title], [Info], [WorkAs], [CreatedDate], [ModifiedDate], [IsDeleted]) VALUES (3, N'John Fogerty', NULL, N'both', CAST(0x0000A1DB0165108C AS DateTime), CAST(0x0000A1DB0165108C AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Artist] OFF
/****** Object:  Table [dbo].[AlbumMusicMapping]    Script Date: 06/12/2013 22:46:49 ******/
INSERT [dbo].[AlbumMusicMapping] ([AlbumId], [SongId], [TrackNumber]) VALUES (1, 2, 1)
INSERT [dbo].[AlbumMusicMapping] ([AlbumId], [SongId], [TrackNumber]) VALUES (1, 3, 2)
INSERT [dbo].[AlbumMusicMapping] ([AlbumId], [SongId], [TrackNumber]) VALUES (1, 4, 3)
/****** Object:  Table [dbo].[Album]    Script Date: 06/12/2013 22:46:49 ******/
SET IDENTITY_INSERT [dbo].[Album] ON
SET IDENTITY_INSERT [dbo].[Album] OFF
/****** Object:  Table [dbo].[Advertising]    Script Date: 06/12/2013 22:46:49 ******/
