/* 
    Document   : Base
    Created on : May 25, 2013, 1:38:04 AM
    Author     : DUC
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*===============================================
        GENERAL
===============================================*/
* {
        margin: 0;
        padding: 0;
}

a {
        color: #597D39;
        text-decoration: none;
        outline:none;
}

a:hover {
        color: #000;
}

a img {
        border: none;
        outline:none;
}

body
{
        font-family: Helvetica, Arial, sans-serif;
        text-align: center;
        font-size: 62.5%;
}

h1 {
        margin: 0 0 20px;
        font-size: 0.9em;
        color: #8F9092;
        font-weight: normal;
}

h2 {
        margin-bottom: 10px;
}

h3 
{
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 0px;
}

input, textarea, select {font-size: 1em;}

p, ol {
        margin-bottom: 10px;
}

ol {
        list-style-position: inside;
        margin-left: 10px;
}

p.list-intro {
        margin-bottom: 0;
}

.hr {
        margin-bottom: 15px;
        height: 2px;
        background: url("../images/bg-hr.gif") no-repeat 0 0;
}

.hr.dots {
        background: url("../images/bg-hr-dots.gif") repeat-x left center;
}

.hr hr {display: none;}

.hide {display: none;}

#container {
        width: 970px;
        margin: 20px auto;
        text-align: left;
}

#main {
        clear: both;
        background: url("../images/bg-page-middle.gif") repeat-y 0 0;
}

#head .form-cont {
        position: absolute;
        right: 20px;
        bottom: 22px;
}


#main-inner {
        padding: 0 20px 20px 20px;
        overflow: hidden;
        background: url("../images/bg-footer.gif") no-repeat left bottom;
        z-index: -1
}



/*===============================================
        FOOTER
===============================================*/
#footer {
        clear: both;
        font-size: 1.4em;
}

#footer ul {
        list-style: none;
}

#footer ul.nav-image li {
        float: left;
        background: url("../images/footer-sep.gif") no-repeat right center;
}

#footer ul.nav-image li.first a {margin-left: 0;}
#footer ul.nav-image li.last {background: none;}

#footer ul.nav-image li a {
        float: left;
        height: 17px;
        margin: 4px 10px 0 10px;
        background: url("../images/sprite-nav.gif") no-repeat 0 -82px;
        text-indent: -1000em;
}

#footer .nav-image li#foot-why a {width: 144px;}
#footer .nav-image li#foot-why a:hover {background-position: 0 -99px;}

#footer .nav-image li#foot-school a {width: 149px; background-position: -158px -82px;}
#footer .nav-image li#foot-school a:hover {background-position: -158px -99px;}

#footer .nav-image li#foot-officebox a {width: 158px; background-position: -313px -81px;}
#footer .nav-image li#foot-officebox a:hover {background-position: -313px -98px;}


#footer .nav-text
{
        margin: 0 0 10px;
        padding: 10px 0 0 0;
        clear: left;
}

.nav-text li {
        padding: 0 4px 0 5px;
        display: inline;
        border-left: 1px solid #000;
}

.nav-text li.first {
        padding-left: 0;
        border-left: none;
}

#footer .credit {
        font-size: 0.6em;
        color:#8F9092;
}

#footer .logos img {
        float: right;
        margin-left: 5px;
}


/*===============================================
        NAVIGATION
===============================================*/
.nav, .nav-logged-in {
        margin-left: 10px;
        list-style: none;
}

.nav li, .nav-logged-in li {display: inline;}

.nav li a {
        float: left;
        height: 38px;
        background-image: url("../images/sprite-nav.gif");
        background-repeat: no-repeat;
        text-indent: -1000em;
}
.nav li.nav-home {}
.nav li.nav-home a {width: 97px;}
.nav li.nav-home a:hover {width: 97px; background-position: 0 -38px;}
.nav > li.nav-home.on a {width: 97px; background-position: 0 -38px;}

.nav li.nav-start {}
.nav li.nav-start a {width: 206px; background-position: -96px 0;}
.nav li.nav-start a:hover {width: 206px; background-position: -96px -38px;}
.nav > li.nav-start.on a {width: 206px; background-position: -96px -38px;}

.nav li.nav-pay{}
.nav li.nav-pay a {width: 158px; background-position: -303px 0;}
.nav li.nav-pay a:hover {width: 158px; background-position: -303px -38px;}
.nav > li.nav-pay.on a {width: 158px; background-position: -303px -38px;}

.nav li.nav-help{}
.nav li.nav-help a {width: 112px; background-position: -461px 0;}
.nav li.nav-help a:hover {width: 112px; background-position: -461px -38px;}
.nav > li.nav-help.on a {width: 112px; background-position: -461px -38px;}

.nav li.nav-about{}
.nav li.nav-about a {width: 168px; background-position: -573px 0;}
.nav li.nav-about a:hover {width: 168px; background-position: -573px -38px;}
.nav > li.nav-about.on a {width: 168px; background-position: -573px -38px;}

.nav-logged-in li a {
        float: left;
        height: 38px;
        background-image: url("../images/sprite-nav-logged-in.gif");
        background-repeat: no-repeat;
        text-indent: -1000em;
}

.nav-logged-in li.nav-home a {width: 79px;}
.nav-logged-in li.nav-home a:hover {width: 79px; background-position: 0 -40px;}
.nav-logged-in > li.nav-home.on a {width: 79px; background-position: 0 -40px;}

.nav-logged-in li.nav-shop a {width: 82px; background-position: -78px 0;}
.nav-logged-in li.nav-shop a:hover {width: 82px; background-position: -78px -40px;}
.nav-logged-in > li.nav-shop.on a {width: 82px; background-position: -78px -40px;}

.nav-logged-in li.nav-boxes a {width: 201px; background-position: -160px 0;}
.nav-logged-in li.nav-boxes a:hover {width: 201px; background-position: -160px -40px;}
.nav-logged-in > li.nav-boxes.on a {width: 201px; background-position: -160px -40px;}

.nav-logged-in li.nav-recipes a {width: 102px; background-position: -361px 0;}
.nav-logged-in li.nav-recipes a:hover {width: 102px; background-position: -361px -40px;}
.nav-logged-in > li.nav-recipes.on a {width: 102px; background-position: -361px -40px;}

.nav-logged-in li.nav-account a {width: 162px; background-position: -463px 0;}
.nav-logged-in li.nav-account a:hover {width: 162px; background-position: -463px -40px;}
.nav-logged-in > li.nav-account.on a {width: 162px; background-position: -463px -40px;}


.nav li.nav-blog a
{
       width: 74px;
       background-position: -670px -0px;
}
.nav li.nav-blog a:hover
{
       width: 74px;
       background-position: -670px -38px;
}
.nav > li.nav-blog.on a
{
       width: 74px;
       background-position: -670px -38px;
}


#callus
{
        float: right;
        height: 23px;
        position: relative;
        text-align: left;
        top: 13px;
        width: 200px;
}

#callus a
{
        -moz-background-clip: border;
        -moz-background-inline-policy: continuous;
        -moz-background-origin: padding;
        background: transparent url("../images/callus.gif") no-repeat scroll 0 0;
        height: 23px;
        position: absolute;
        width: 100%;
}

/*===============================================
        FORMS
===============================================*/
.form-cont {
        margin-bottom: 20px;
}

td.add {
        vertical-align:middle !important;
}
td.add .form-cont {
        margin-bottom:11px;
}

input, select, textarea
{
        padding: 2px 4px;
        font-family: Helvetica, Verdana, sans-serif;
        border: 1px solid #000;
        outline: none;
}



input.checkbox {
        border: none;
        padding: 0;
        vertical-align: middle;
}

label {
        margin: 0 0 5px;
        display: block;
}

.form-search {
        margin-bottom: 0;
}

.form-search p {
        margin: 0;
}

.form-cont p.multi-part span {
        margin-bottom: 5px;
        display: block;
}

.form-cont p.multi-part label {
        margin-right: 20px;
        display: inline;
}

.form-cont span.note {
        display: block;
}
/*===============================================
        BUTTONS
===============================================*/


.btn
{
        padding: 3px 6px;
        background: #597d39;
        color: #FFF;
        font-size: 1em;
        border: none;
        display: inline-block;
        cursor: pointer;
}

.btn-dislike
{
        float: right;
        padding: 0 20px 0 0;
        display: inline-block;
}

.a-enabled
{
        cursor: pointer;
        padding-left: 5px;
}


.a-disabled
{
        color: #000000;
        cursor: default;
        padding-left: 5px;
}

form p input.btn
{
        width: auto;
}

.btn:hover

{
        background-color: #D58D1D;
        color: #FFF;
        text-decoration: none;
}


.btn-disabled, .btn-disabled:hover
{
        background: #C3C3C3;
        cursor: default;
}

/* NL not supported by IE7 & IE6, fix requires > within btn text
.cta:after {
        padding-left: 5px;
        content: '>';
}
*/

/*===============================================
        NOTEPAD
===============================================*/
.sidecol {
        float: right;
        width: 248px;
}

.notepad {
        background: url("../images/notepad-bottom.gif") no-repeat left bottom;
        font-size: 1.1em;
}

.notepad .inner {
        overflow: hidden;
        padding: 44px 15px 25px 12px;
        background: url("../images/notepad-top.gif") no-repeat 0 0;
}

.notepad h2 {
        margin-bottom: 16px;
}

.notepad h3 {
        margin-bottom: 10px;
}

.new-customer.min
{
        padding: 0 0 10px;
        background: url("../images/fruit-basket-small.gif") no-repeat right bottom;
}

.main-col, .product-department
{
        height: 100%;
}
.main-col .exist-cust
{
        width: 600px;
}

.main-col .exist-cust a
{
        display: block;
        position: relative;
}

.main-col .exist-cust a:hover .click-here
{
        background-position: 0 100%;
        cursor: pointer;
}

.main-col .exist-cust a .click-here
{
        background: url("../images/click-here.gif") no-repeat;
        float: right;
        position: absolute;
        top: 84px;
        right: 25px;
        height: 53px;
        width: 100px;
}

/*===============================================
        HEAD
===============================================*/
#head
{
        position: relative;
        padding: 10px 20px;
        height: 85px;
        background: url("../images/bg-head.gif") no-repeat 0 0;
}

#head .form-cont
{
        position: absolute;
        right: 20px;
        bottom: 35px;
}



/*===============================================
        LOGO
===============================================*/
#logo
{
        position: relative;
        width: 290px;
        height: 89px;
}

#logo a
{
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("../images/logo-abel-cole.gif") no-repeat 0 0;
}

#logo a.fclogo
{
        background: #fff url("../images/farmers-choice-logo.gif") no-repeat;
}

#logo a.bflogo
{
     background: #fff url("../images/brain-food-logo.gif") no-repeat;

}


/*===============================================
        LOGIN
===============================================*/
#log-btns {
    height: 35px;
    position: absolute;
    right: 18px;
    top: 15px;
    width: 80px;
}

#log-btns input
{
        padding: 0;
        cursor: pointer;
}

#log-btns a, #log-btns a:hover
{
        outline: none;
}

#log-btns a.login {
    background: url("../images/log-in-log-out.gif") no-repeat scroll -125px -47px transparent;
    height: 100%;
    position: absolute;
    width: 100%;
}

#log-btns div.signup-button 
{
        cursor: pointer;
        position: absolute; 
        right: 80px;
        width:90px;
        height:30px;
}

#log-btns > a:hover.login
{
        background-position: /**/ -125px -2px;
        cursor: pointer;
}

#log-btns a.logout
{
    cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("../images/log-in-log-out.gif") no-repeat -20px -47px;
}

#log-btns > a:hover.logout
{
    cursor: pointer;
        background-position: /**/ -20px -2px;
}


#log-btns a.signup {
    background: url("../images/signup.gif") no-repeat scroll -13px -47px transparent;
    cursor: pointer;
    height: 100%;
    position: absolute;
    width: 100%;
}

#log-btns a:hover.signup
{
        background-position: /**/ -13px -2px;
}
#txtSearch
{
	font-size: 12px;
	height: 20px;
}
#btnSearch
{
	font-size: 14px;
	height: 25px;
}
/*===============================================
        AUTOCOMPLETE
===============================================*/
.autocomplete_completionListElement
{
        visibility: hidden;
        margin: 0px !important;
        background-color: inherit;
        color: windowtext;
        border: buttonshadow;
        border-width: 1px;
        border-style: solid;
        cursor: default;
        overflow: auto;
        text-align: left;
        list-style-type: none;
        z-index:1000;
}
/* AutoComplete highlighted item */.autocomplete_highlightedListItem
{
        background-color: #ECF5DE;
        color: black;
        padding: 1px;
        padding: 1px 0px 0px 5px;
}
/* AutoComplete item */.autocomplete_listItem
{
        background-color: window;
        color: windowtext;
        padding: 1px 0px 0px 5px;
}


/*===============================================
        RIGHT HAND SIDE HEADINGS
===============================================*/
.heading.new-to-abel
{
        width: 225px;
        height: 55px;
}
.heading.new-to-abel span
{
        background-image: url("../images/new-to-abel-cole.gif");
}

.heading.new-to-brainfood
{
        width: 206px;
        height: 30px;
}
.heading.new-to-brainfood span
{
        background-image: url("../images/new-to-brain-food.gif");
}

.heading.or-login-account
{
        width: 154px;
        height: 27px;
}
.heading.or-login-account span
{
        background-image: url("../images/or-login-account.gif");
}

.heading.sorry-dont-deliver
{
        width: 225px;
        height: 97px;
}
.heading.sorry-dont-deliver span
{
        background-image: url("../images/sorry-dont-deliver.gif");
}

.heading.setup-new-account
{
        width: 199px;
        height: 34px;
}
.heading.setup-new-account span
{
        background-image: url("../images/setup-new-account.gif");
}

.heading.sorry
{
        width: 225px;
        height: 31px;
}
.heading.sorry span
{
        background-image: url("../images/sorry.gif");
}

.shopping-basket h2.heading
{
        width: 152px;
        height: 44px;
}
.shopping-basket h2.heading span
{
        background-image: url("../images/shopping-basket-icon.gif");
}

.heading.info-for-all
{
        width: 166px;
        height: 55px;
}
.heading.info-for-all span
{
        background-image: url("../images/info-for-all.gif");
}

.heading.my-deliveries
{
        width: 100%;
        height: 28px;
        background: transparent url("../images/van-right.gif") no-repeat scroll 60% 5px;
        padding-top: 15px;
        font-size: 1.1em;
}
.heading.my-deliveries span
{
        background-image: url("..images/my-deliveries.gif");
}

.textbox-inactive
{
        color: #AEAEAE;
}

.BoldChatIE{}

/*===============================================
        WE DELIVER CONTROL
===============================================*/
.we-deliver
{
        font-size:1.2em;
}

.we-deliver .deliver h2
{
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.22em;
        padding: 0 70px 0 0;
        background: url("../images/sketches/van-right.gif") no-repeat right;
        min-height:37px;
        font-weight: normal;
}

.we-deliver .deliver h2 img
{
        float: right;
}

.we-deliver .deliver .btn.cta, .shopping-basket .btn.cta, .deliveries .btn.cta
{
        background-position: 98%;
        font-size: 1.273em;
}

.btn.deliver, .show-me .btn
{
        float: right;
        margin-bottom: 10px;
}

.deliveries h3.setup-new-account, .deliveries h3.or-login-account
{
        border-bottom: 0;
}

/*===============================================
        BOLD CHAT
===============================================*/
div.BoldChatButton
{
        background: url("../images/chat-icon.gif")  no-repeat 0 -39px;

}

div.BoldChatButton:hover
{
        background-position:0px 1px;
}

/*===============================================
        SHOPPING BASKET
===============================================*/

.shopping-basket h2.heading
{
        width: 152px;
        height: 44px;
}

.shopping-basket h2.heading span
{
        background-image: url("../images/shopping-basket-icon.gif");
}

.shopping-basket {
        color: #DC8700;
}

.shopping-basket .totals {
        margin-bottom: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid #5A7B25;
        overflow: hidden;
        font-weight: bold;
        font-size: 1.182em;
        color:#000;
}
.shopping-basket .totals .items {float: left;}
.shopping-basket .totals .cost {float: right;}

table.tbl-basket
{
        width: 240px;
        margin: 0 0 20px 0;
        color: #5A7B25;
}

table.coming
{
        color: #5A7B25;
        margin: 0 0 0 0;
}

.tbl-basket tr
{
        clear: both;
}
.tbl-basket td
{
        padding-bottom: 5px;
        vertical-align: top;
}

.tbl-basket td.col-qty
{
        width: 50px;
}
table.coming td.col-qty
{
        text-align: center;
        font-size: 1.1em;
}
.tbl-basket td.col-item
{
        width: 130px;
        padding-right: 10px;
        color: #000000;
}
.tbl-basket.coming td.col-item
{
        width: 100%;
        padding-right: 10px;
        color: #000000;
}

.tbl-basket .col-price span, .tbl-basket .col-price a
{
        display: block;
}

.tbl-basket .per, .tbl-basket .remove
{
        font-size: 0.833em;
}
.coming .remove
{
        color: #000;
}

.tbl-basket .qty
{
        float: left;
        text-align: center;
        width: 15px;
}

.tbl-basket a.add, .tbl-basket a.delete
{
        float: left;
        width: 13px;
        height: 14px;
        background: url("../images/btn-add.gif") no-repeat 0 0;
        text-indent: -1000em;
}
.tbl-basket a.delete
{
        background: url("../images/btn-delete.gif") no-repeat 0 0;
}
.tbl-basket a:hover.delete
{
        background-position: 0 -14px;
}
.tbl-basket a:hover.add
{
        background-position: 0 -14px;
}
.tbl-basket tfoot, .tbl-basket thead, .tbl-basket tbody
{
        color: #000;
}
.tbl-basket tfoot td, .tbl-basket thead td
{
        padding: 0;
}
.tbl-basket tfoot td.text, .tbl-basket thead td.text
{
        padding: 0 0 0 45px;
        width: 115px;
}

.tbl-basket td.confirmed-order
{
        padding: 0 7px 0 0;
        text-align: right;
}
.tbl-basket a.show-your span
{
        display: block;
        padding: 5px 0 0 0;
}
.tbl-basket td.drop
{
        height: 10px;
}
.tbl-basket td.quantity
{
        width: 16px;
}

table.tbl-basket
{
        width: 230px;
}

.shopping-basket td.head
{
        padding-bottom: 0;
}
.shopping-basket table.tbl-basket
{
        margin-bottom: 0;
}
.shopping-basket .checkout
{
        margin-top: 10px;
}

.heading.great-news
{
        width: 225px;
        height: 32px;
        padding: 0;
}
.heading.great-news span
{
        background-image: url("../images/great-news.gif");
}

.heading
{
        overflow: hidden;
}

.heading span, .heading a
{
    background-position: 0 0;
    background-repeat: no-repeat;
        float: left;
        height: 100%;
        width: 100%;
}

.heading.welcome-back
{
        width: 225px;
        height: 25px;
        display: inline-block;
        padding: 0;
}
.heading.welcome-back span
{
        background-image: url("../images/welcome-back.gif");
}

.notepad .inner .show-me span.warn
{
        display: block;
        clear: both;
        margin-bottom: 10px;
        color: #D58D1D;
}